{% extends 'base.html' %}
{% load static %}

{% block contenidoQueCambia %}

<div id="wrapper" style="padding-top: 20px; position: relative;">

  <h1 style="margin-bottom: 20px; color: yellow; margin-left: 30px">Agregar Representante</h1>
 
  <form method="post" style="color: yellow; font-size: 16px; margin-left: 30px">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
  </form>

  <style>
    a.lista-representantes { color: yellow; margin-left: 25px; font-size: 28px; margin-top: 20px; display: inline-block;}
  </style>
 
  <a href="{% url 'ListaRepresentantes' %}" class="lista-representantes">Lista Representantes</a>
  
  <div id="footer" style="position: absolute; bottom: 0; width: 100%">
    &copy; Copyright 2023 by Salvador Inetti |
    Design by Mamarracho Maker
  </div>
    
</div>

{% endblock contenidoQueCambia %}
