{% extends 'base.html' %}
{% load static %}

{% block contenidoQueCambia %}

<div id="wrapper" style="padding-top: 20px; position: relative;">
 
  <form method="get" action="{% url 'BuscarRepresentante' %}">
    <input type="text" name="nombre_representante" placeholder="Nombre del representante">
    <button type="submit">Buscar</button>
</form>


  <div id="footer" style="position: absolute; bottom: 0; width: 100%">
    &copy; Copyright 2023 by Salvador Inetti |
    Design by Mamarracho Maker
  </div>
    
</div>

{% endblock contenidoQueCambia %}
