{% extends 'base.html' %}
{% load static %}

{% block contenidoQueCambia %}

{% if user.is_authenticated %}
<div id="wrapper" style="padding-top: 10px; position: relative;">
 
    {% for equipo, jugadores in jugadores_por_equipo.items %}
    <h1 style="margin-top: 10px; margin-left: 20px; color: yellow">{{ equipo.nombre_equipo }}</h1>
    <div style="margin-left: 20px;">
        <button type="button" style="background-color: gray; margin-top: 10px; magrin-topborder: none; padding: 5px 10px; text-align: center; display: inline-block; font-size: 14px;">
            <a href="{% url 'EditarEquipo' equipo.id %}" style="color: white; text-decoration: none;">Editar</a>
        </button>

        <form action="{% url 'EliminarEquipo' equipo.id %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button type="submit" style="background-color: gray; border: none; color: white; padding: 5px 10px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px;">Eliminar</button>
        </form>
    </div>
        {% if jugadores %}
        <ul style="margin-top: 10px; margin-left: 20px">
            {% for jugador in jugadores %}
                <li>
                    <p style="color: yellow; font-size: 15px">{{ jugador.nombre }} {{ jugador.apellido }} - Edad: {{ jugador.edad }} - Posición: {{ jugador.get_posicion_display }} - Equipo: {{ jugador.equipo.nombre_equipo }}</p>
                </li>
                <div style="margin-left: 30px;">
                </div>   
            {% endfor %}
        </ul>
    {% else %}
        <ul style="margin-top: 10px;">
        <p style="color: yellow; font-size: 15px; margin-left: 30px">Este equipo no tiene jugadores al momento.</p>
        </ul>
    {% endif %}
    {% endfor %}

    <div id="footer" style="position: absolute; bottom: 0; width: 100%">
        &copy; Copyright 2023 by Salvador Inetti |
        Design by Mamarracho Maker
    </div>
    
</div>
{% else %}
<div style="margin-top: 50px; text-align: center;">
    <h2>Debes iniciar sesión para ver este contenido.</h2>
    <a href="{% url 'Login' %}">Iniciar sesión</a>
</div>
{% endif %}

{% endblock contenidoQueCambia %}
